In [1]:

import pandas as pd
import os

In [2]:
# create a DataFrame with some data
data = {
    "name": ["Alice", "Bob", "Charlie", "David"],
    "age": [25, 30, 35, 40],
    "city": ["New York", "Paris", "London", "Tokyo"]
}
df = pd.DataFrame(data)

# print the DataFrame
print(df)

# access columns of the DataFrame
print(df["name"])
print(df["age"])

# access rows of the DataFrame
print(df.iloc[0])
print(df.iloc[2])

# filter rows of the DataFrame
filtered_df = df[df["age"] > 30]
print(filtered_df)

# group data in the DataFrame
grouped_df = df.groupby("city").mean()
print(grouped_df)

      name  age      city
0    Alice   25  New York
1      Bob   30     Paris
2  Charlie   35    London
3    David   40     Tokyo
0      Alice
1        Bob
2    Charlie
3      David
Name: name, dtype: object
0    25
1    30
2    35
3    40
Name: age, dtype: int64
name       Alice
age           25
city    New York
Name: 0, dtype: object
name    Charlie
age          35
city     London
Name: 2, dtype: object
      name  age    city
2  Charlie   35  London
3    David   40   Tokyo
           age
city
London    35.0
New York  25.0
Paris     30.0
Tokyo     40.0

In [3]:
print(os.listdir('/kaggle/input'))

['studentcsv']

In [4]:
# read data from a CSV file into a DataFrame
df = pd.read_csv("/kaggle/input/studentcsv/student.csv")

# print the first few rows of the DataFrame
print(df.head())

# access columns of the DataFrame
print(df["name"])
print(df["mark"])

# access rows of the DataFrame
print(df.iloc[0])
print(df.iloc[2])

# filter rows of the DataFrame
filtered_df = df[df["mark"] > 60]
print(filtered_df)

# group data in the DataFrame
grouped_df = df.groupby("gender").mean()
print(grouped_df)

   id        name  class  mark  gender
0   1    John Deo   Four    75  female
1   2    Max Ruin  Three    85    male
2   3      Arnold  Three    55    male
3   4  Krish Star   Four    60  female
4   5   John Mike   Four    60  female
0        John Deo
1        Max Ruin
2          Arnold
3      Krish Star
4       John Mike
5       Alex John
6     My John Rob
7          Asruid
8         Tes Qry
9        Big John
10         Ronald
11          Recky
12            Kty
13           Bigy
14       Tade Row
15          Gimmy
16          Tumyu
17          Honny
18          Tinny
19         Jackly
20     Babby John
21         Reggid
22          Herod
23      Tiddy Now
24       Giff Tow
25         Crelea
26       Big Nose
27      Rojj Base
28    Tess Played
29      Reppy Red
30    Marry Toeey
31      Binn Rott
32      Kenn Rein
33       Gain Toe
34     Rows Noump
Name: name, dtype: object
0     75
1     85
2     55
3     60
4     60
5     55
6     78
7     85
8     78
9     55
10    89
11    94
12    88
13    88
14    88
15    88
16    54
17    75
18    18
19    65
20    69
21    55
22    79
23    78
24    88
25    79
26    81
27    86
28    55
29    79
30    88
31    90
32    96
33    69
34    88
Name: mark, dtype: int64
id               1
name      John Deo
class         Four
mark            75
gender      female
Name: 0, dtype: object
id             3
name      Arnold
class      Three
mark          55
gender      male
Name: 2, dtype: object
    id         name  class  mark  gender
0    1     John Deo   Four    75  female
1    2     Max Ruin  Three    85    male
6    7  My John Rob  Fifth    78    male
7    8       Asruid   Five    85    male
8    9      Tes Qry    Six    78    male
10  11       Ronald    Six    89  female
11  12        Recky    Six    94  female
12  13          Kty  Seven    88  female
13  14         Bigy  Seven    88  female
14  15     Tade Row   Four    88    male
15  16        Gimmy   Four    88    male
17  18        Honny   Five    75    male
19  20       Jackly   Nine    65  female
20  21   Babby John   Four    69  female
22  23        Herod  Eight    79    male
23  24    Tiddy Now  Seven    78    male
24  25     Giff Tow  Seven    88    male
25  26       Crelea  Seven    79    male
26  27     Big Nose  Three    81  female
27  28    Rojj Base  Seven    86  female
29  30    Reppy Red    Six    79  female
30  31  Marry Toeey   Four    88    male
31  32    Binn Rott  Seven    90  female
32  33    Kenn Rein    Six    96  female
33  34     Gain Toe  Seven    69    male
34  35   Rows Noump    Six    88  female
               id       mark
gender
female  18.705882  77.529412
male    17.333333  71.944444